@use 'base/variables' as v;
@use 'base/mixins' as m;

.header {
  background-color: v.$green;
  padding: 2rem .5rem;
  h1 {
    color: v.$white;
    text-align: center;
    @include m.tablet {
      margin: 0;
    }
  }
  .header-content {
    @include m.tablet {
      display: flex;
      justify-content: space-between;
    }
  }
}

.main-nav {
  display: flex;
  flex-direction: column;
  @include m.tablet {
    gap: 2rem;
    align-items: center;
    flex-direction: row;
  }
  a {
    text-align: center;
    color: v.$white;
    font-size: 2rem;
    margin-bottom: 1rem; 
    @include m.tablet {
      margin-bottom: 0;
    }
    &:hover {
      color: v.$yellow;
      border-bottom: 1px solid v.$yellow;
    }
  }
}
