.content-aboutus {
  @include tablet {
    @include grid(2, 2rem);
  }
}

.text-aboutus blockquote {
  font-weight: $hyper_bold;
  font-size: 2.2rem;
  margin: 2rem 0 0 0s;
  padding: 1rem 0 3rem 0;
}
