/**
 * Variables
 */
:root {
  --primary: #9c27b0;
  --dark-primary: #89119d;
  --secondary: #ffce00;
  --dark-secondary: #bf9b00;
  --white: #fff;
  --black: #000;
  --main-font: "Staatliches", cursive;
}

/**
 * Generals
 */
html {
  font-size: 62.5%; /* 1rem = 10px */
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: var(--primary);
  font-size: 1.6rem;
  line-height: 1.5;
}

h1,
h2,
h3 {
  text-align: center;
  color: var(--secondary);
  font-family: var(--main-font);
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.4rem;
}

p {
  font-size: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--white);
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

/**
 * Containers
 */
.container {
  max-width: 120rem;
  margin: 0 3rem;
}
@media (min-width: 768px) {
  .container {
    margin: 0 auto;
  }
}

/**
 * Header
 */
.header {
  display: flex;
  justify-content: center;
}

.header__logo {
  margin: 3rem auto;
}

/**
 * Nav
 */
.nav {
  background-color: var(--dark-primary);
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.nav__link {
  font-family: var(--main-font);
  color: var(--white);
  font-size: 3rem;
}

.nav__link:hover,
.nav__link--active {
  color: var(--secondary);
}

/**
 * Products
 */
.products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

@media (min-width: 768px) {
  .products {
    grid-template-columns: repeat(3, 1fr);
  }
}

.product {
  background-color: var(--dark-primary);
  padding: 1rem;
}

.product__img {
  width: 100%;
}

.product__name {
  font-size: 3.5rem;
}

.product__price {
  font-size: 2.5rem;
  color: var(--secondary);
}

.product__name,
.product__price {
  font-family: var(--main-font);
  margin: 1rem 0;
  text-align: center;
  line-height: 2;
}

/**
 * Pictures
 */
.picture {
  min-height: 30rem;
  background-repeat: no-repeat;
  background-size: cover;
}

.picture--shirts {
  grid-row: 2/3;
  grid-column: 1/3;
  background-image: url(../img/grafico1.jpg);
}

.picture--node {
  grid-row: 5/6;
  grid-column: 1/3;
  background-image: url(../img/grafico2.jpg);
}

@media (min-width: 768px) {
  .picture--shirts {
    grid-column: 1/3;
  }
  .picture--node {
    grid-column: 2/4;
  }
}

/**
 * About us
 */
.aboutUs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aboutUs__img {
  width: 100%;
}

@media (min-width: 768px) {
  .aboutUs {
    flex-direction: row-reverse;
    column-gap: 3rem;
  }
}

.buy {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

@media (min-width: 768px) {
  .buy {
    grid-template-columns: repeat(4, 1fr);
  }
}

.block {
  text-align: center;
}

/**
 * Product
 */
.shirt {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .shirt {
    flex-direction: row;
    column-gap: 3rem;
  }
}

.form {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  column-gap: 4rem;
  row-gap: 2rem;
}

.form__input {
  border: 1rem solid var(--dark-primary);
  background-color: transparent;
  color: var(--white);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  appearance: none;
  padding: 1rem;
}

.form__submit {
  grid-column: 1/3;
  background-color: var(--secondary);
  border: none;
  font-size: 2rem;
  font-family: var(--main-font);
  padding: 2rem;
  transition: background-color 0.3s ease;
}

.form__submit:hover {
  cursor: pointer;
  background-color: var(--dark-secondary);
}

.form__input--select {
  grid-column: 1/2;
}

.form__input--number {
  grid-column: 2/3;
}

/**
 * Footer
 */
.footer {
  background-color: var(--dark-primary);
  padding: 1rem 0;
  margin-top: 6rem;
}

.footer__text {
  font-family: var(--main-font);
  text-align: center;
  font-size: 2rem;
}
