/** Media Queries **/
@mixin phone {
  @media (min-width: #{$phone}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}
@mixin grid($columns, $gap) {
  display: grid;
  gap: $gap;
  grid-template-columns: repeat($columns, 1fr);
}

@mixin button($bgcolor, $display) {
  background-color: $bgcolor;
  color: $white;
  font-weight: $bold;
  margin-top: calc($separation/2);
  display: $display;
  text-decoration: none;
  padding: 1rem 3rem;
  text-align: center;
  &:hover {
    background-color: darken($bgcolor, 5);
  }
}
