.section {
  margin-top: calc($separation / 2);
  margin-bottom: calc($separation / 2);
}
.content-center {
  max-width: 80rem;
}

.center {
  display: flex;
  justify-content: center;
}

.full-block {
  display: block;
  width: 100%;
  @include tablet {
    width: auto;
  }
}

@include tablet {
  .right-align {
    display: flex;
    justify-content: flex-end;
  }
}
