.section {
  margin-top: calc($separation / 2);
  margin-bottom: calc($separation / 2);
}
.content-center {
  max-width: 80rem;
}

@include tablet {
  .right-align {
    display: flex;
    justify-content: flex-end;
  }
}
