@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");

// Fuentes
$main_font: "Lato", sans-serif;

// Tamaño de Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$black: #000000;
$yellow: #e08709;
$green: #71b100;
$white: #ffffff;
$ligth_gray: #f2f1f2;
$gray: #e1e1e1;
$dark_gray: #333333;
$red: #a31010;
$ligth_red: #fba3a3;
$blue: #1010a3;
$second_blue: #1818f0;
$ligth_blue: #a3a3fb;

$separation: 5rem;

// Fuentes
$small: 300;
$regular: 400;
$bold: 700;
$hyper_bold: 900;
